:host {
  display: block;
  font-family: 'Satoshi', sans-serif !important;
}

.contact-page-layout {
  position: relative;
  font-family: 'Satoshi', sans-serif !important;
}

.contact-page-layout *:not([class*="ri-"]) {
  font-family: 'Satoshi', sans-serif !important;
}
